/* HOME PAGE ================================================================== */

.btn {
  margin: 6px;
}

.register-btn {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

.spacer {
  aspect-ratio: 690/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container {
  width: 50%;
  margin: auto;
}

/* ARTICLE CARD ======================================================================================== */
.post-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300%;
  margin: 20px;
}
.post-card-title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.post-card-body {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  margin-bottom: 10px;
}

/* LIKE BUTTON { FOCUS } COLOUR TEAL */
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

/* PROFILE ============================================================================== */

/* MEDIA QUERIES ====================================================================== */

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}
